* {
	margin: 0; 
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.container-fluid {
	width: 100%;
}

.col-1 {
	width: 8.33%;
	float: left;
}
.col-2 {
	width: 24.67%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}
.col-5 {
	width: 41.67%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.33%;
	float: left;
}
.col-8 {
	width: 66.67%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.33%;
	float: left;
}
.col-11 {
	width: 91.67%;
	float: left;
}
.col-12 {
	width: 100%;
	float: left;
}

.row {
	width: 100%;
}
.text-center {
	text-align: center;
}

section {
	float: left;
	width: 100%;
	padding: 80px 0;
}

.blue {
	color: #008ed6;
}

.img-fluid {
	width: 100%;
}

.highlight {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: 600;
}

h2 {
	font-size: 36px;
	font-weight: 600;
}

ul li {
	list-style: none;
}

.text-white {
	color: #fff;	
}

/*Global CSS End*/

/*Banner Section CSS*/
.banner {background: url(../image/banner-bg.png);background-size: cover;background-position: center;height: 600px;overflow: hidden;}
.banner .logo {
    margin-top: 30px;
}
.banner .navbar {
}
.banner .navbar .nav-menu {
    float: right;
    margin: 20px 0;
}
.banner .navbar .nav-menu .nav-item {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
}
.banner .navbar .nav-menu .nav-item .nav-link {
    color: white;
    text-decoration: none;
}

.banner .navbar .nav-menu .nav-item::after {
	content: "";
	position: absolute;
	background: #008ed6;
	height: 2px;
	width: 0%;
	left: 0;
	bottom: 0;
	transition: 0.5s linear;
}

.banner .navbar .nav-menu .nav-item::before {
	content: "";
	position: absolute;
	background: #008ed6;
	height: 2px;
	width: 0%;
	right: 0;
	bottom: 0;
	transition: 0.5s linear;
}

.banner .navbar .nav-menu .nav-item:hover::before {
	width: 50%;
}

.banner .navbar .nav-menu .nav-item:hover::after {
	width: 50%;
}

.banner .hero-area {
    margin-top: 60px;
}
.banner .hero-area h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.banner .hero-area h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
}
.banner .hero-area p {
    color: #999999;
    line-height: 1.6;
    margin-bottom: 40px;
}
.banner .hero-area .btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #999;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
}
.banner .hero-area .btn-cta {
    margin-right: 15px;
    border: 1px solid #008ed6;
    background: #008ed6;
}
.banner .hero-area .btn-ghost {}

.banner .hero-area .btn-cta:hover {
	background: #0074af;
	transition: 0.5s linear;
}

.banner .hero-area .btn-ghost:hover {
	background: #0074af;
	border: 1px solid #0074af;
	transition: 0.5s linear;
}

.banner .mockup {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 97px;
}


/*Feature Section CSS*/
.feature {}
.feature .feature-box {
    margin-top: 60px;
}
.feature .feature-box .box {
	padding: 30px 0;box-shadow: 0 0 2px 2px rgba(0,0,0,0.05);
	margin: 0 10px;
	border-radius: 3px;
}
.feature .feature-box .box .feature-img {
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    margin: 0 auto;
    text-align: center;
    line-height: 95px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.feature .feature-box .box h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.feature .feature-box .box p {
    line-height: 1.6;
    color: #999;
    padding: 0 12%;
}

/*About Section CSS*/
.about {
	border-top: 1px solid #ededed;
}
.right-feature {
    margin-top: 15%;
}
.right-feature p {
    color: #999;
    line-height: 1.6;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.about-feature li {
    line-height: 1.8;
    color: #1b1b1b;
    font-size: 18px;
}
.about-feature li img {
    margin-right: 10px;
    display: inline-block;
    width: 10px;
}

.aboutpart {
	background: #f2f2f2;

}


/*Review Section CSS*/
.review {
	background: url(../image/review-bg.png);
	background-size: cover;
	background-position: center;
}


.mycarousel {
	margin-top: 60px;
}
.item {
    color: white;
}
.item h5 {
    font-size: 20px;
    margin-left: 10px;
}
.item h6 {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 300;
}
.item p {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.owl-dots {
	margin-top: 20px !important;
}
.owl-carousel .owl-dots.disabled {
    display: block !important; 
}

.owl-theme .owl-dots .owl-dot span {
	background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #008ed6;
	width: 25px !important;
}

/*Like Section CSS*/

.like {
    margin-top: 0px;
    background: black;
    width: 100%;
    padding: 35px 0;
}
.like .like-theme{
    width: 90%;
}
.like .like-theme h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 154px;
}
.like .like-theme h3 span {
	font-weight: 100;
	color: #c1c0c2;
	font-size: 28px;
}


.like .like-theme .btn {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 25px;
	border: 1px solid #999;
	border-radius: 3px;
	font-weight: 700;
	font-size: 14px;
	/* float: right; */
}
.like .like-theme .btn-cta {
	 border: 1px solid #008ed6;
	 background: #008ed6;
	 float: right;
	 margin-left: 15px;
	 margin-right: 15px;
}
.like .like-theme .btn-ghost {
    float: right;
}
.like .like-theme .btn-cta:hover {
	background: #0074af;
	transition: 0.5s linear;
}
.like .like-theme .btn-ghost:hover {
	background: #0074af;
	border: 1px solid #0074af;
	transition: 0.5s linear;
}

/*Plans Section CSS*/
.plans {}
.plans .plans-h {}
.plans .plans-h h2 {
	color: black;
}
.plans .plans-s {
    padding: 60px 20px;

}
.plans .plans-s h1 {
	border: 1px solid #e0e0e0;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 1000;
    padding: 20px;
}

.plans .plans-s h1:hover {
	background: #008ed6;
	transition: 0.5s linear;
}

.plans .plans-s h3 {
	border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    padding: 33px;
}

.plans .plans-s h3:hover {
	background: #008ed6;
	border: 1px solid #e0e0e0;
	transition: 0.5s linear;
}


.plans .plans-s h3 span {
	font-size: 20px;
    color: #e0e0e0;
    font-weight: 100;
}

.plans .plans-s p {
	border: 1px solid #e0e0e0;
    text-align: center;
    padding: 50px 0;
    color: #e0e0e0;
}

.plans .plans-s .btn {
	color: #008ed6;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 25px;
	border: 1px solid #999;
	border-radius: 3px;
	font-weight: 700;
	font-size: 14px;
}	


.plans .plans-s .btn-ghost {
	margin: 30px;
}

.plans .plans-s .btn-ghost:hover {
	background: #008ed6;
	border: 1px solid #e0e0e0;
	transition: 0.5s linear;
}

/*Contact Section CSS*/

.contact {
    background: #ededed;
}
.contact .contact-box {
	margin-top: 50px;
}
}
.contact .contact-box .c-box {}
.contact .contact-box .c-box .contact-image {
    width: 80px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
}
.contact .contact-box .c-box p {
	font-size: 14px;
	color: #c0c0c0;
	padding: 0 29%;
}

.contact .form-image {
	margin-top: 60px;
	padding: 0px 185px;
	margin-bottom: -84px;
}

/* Map Section CSS*/
.map {
	padding: 0 !important;
}

/*Footer Section*/
.behance {}
.behance .behance-image {
	background: black;
	margin: 0px -189px;
	padding: 25px;
	text-align: center;
}

.behance .behance-image .bi-m img {
    padding: 0 12px;
}

.behance .behance-image p {
	    color: #2b2a2f;
	    font-size: 16px;
	    font-weight: 400;
	    text-transform: uppercase;
	    padding: 20px;
}




	
	
